{% extends "base.html" %}
{% block content %}



<div class="container bg-light">
  <div class="row ">
    <div>
    </div>
    <div class="col-6">
      <img class="card-img-top" src={{personaje_data.image_url}} alt="">
    </div>
    <div class="col-6">
      <div class="card-body m-3">
          <h1 class="text-info display-1"><b>{{personaje_data.name}}</b></h1>
          <hr>
          <h2 >
            <b class="text-danger">Estatus:</b> {{personaje_data.alive}}
          </h2>
          <h2 >
            <b class="text-danger">Especies:</b> {{personaje_data.species}}
          </h2>
          <h2 >
            <b class="text-danger">Tipo:</b> {{ 'Alive' if personaje_data.typo else 'Dead' }}
          </h2>
          <h2 >
            <b class="text-danger">Género:</b> {{personaje_data.gender}}
          </h2>
          <h2 >
            <b class="text-danger">Origen:</b> {{personaje_data.origin}}
          </h2>
          <h2 >
            <b class="text-danger">Locación:</b> {{personaje_data.location_name}}
          </h2>
          <h2 >
            <b class="text-danger">Primer Episodio:</b> {{personaje_data.episode}}
          </h2>
          <h2 >
            <b class="text-danger">Episodios:</b> {{personaje_data.episode}}
          </h2>
          <h2 >
            <b class="text-danger">Numero de Episodios:</b> {{personaje_data.episode_n|length}}
          </h2>
          <h2 >
            <b class="text-danger">Creado en:</b> {{personaje_data.created}}
          </h2>
          
      </div>
      <div class="d-grid gap-2">
        <a href="{{url_for('personaje_router.index')}}" class="btn btn-primary m-3"><h2>Regresar a lista de personajes</h2></a>
      </div>
    </div>
  </div>
</div>
      
     
{% endblock %}